---
import Logo from '../../public/logo-cfsa.svg';
import { Menu } from './List/index.astro';
import { Button } from './Button/index.astro';
---
<header class="csfa-menu-principal">

    <div class="csfa-wrap-menu">
     
      <!-- Logo -->
        <div class="csfa-logo">
            <img src={Logo.src} alt="logo cfsa">
        </div>

      <!-- Navegação Principal -->
       <nav class="csfa-navigation">
          <Menu.List nameClass='csfa-list'>
              <Menu.Items nameClass='csfa-item'>
                  <Menu.Link link='/contato' texto='Contato' nameClass='csfa-item-link'/>  
              </Menu.Items>
          </Menu.List>
       </nav>

       <div class="cfsa-wrap-button">
          <Button.Root nameClass='csfa-button' nameId='csfa-area-restrita'>
              <Button.Icon dataIcon='logos:google-icon' dataInline='false'/>
              Area Restrita
          </Button.Root>

          <Menu.List nameClass='csfa-list'>
            <Menu.Items nameClass='csfa-item'>
                <Button.Root nameClass='csfa-button' nameId='csfa-area-restrita'>
                    <Button.Icon dataIcon='logos:google-icon' dataInline='false'/>
                    E-mail Aluno
                </Button.Root>
            </Menu.Items>
        </Menu.List>

       

       </div>
       

    </div>

</header>